<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  <configSections>
    <section 
      name="entityFramework" 
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
      requirePermission="false" />
  </configSections>
  -->
  <appSettings>
    <add key="EnableDiagnostics" value="true"/>
    <add key="Product" value="Flogging.Wcf"/>
  </appSettings>
  <!--
  <connectionStrings>
    <add
      name="FloggerConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Flogger;Integrated Security=True;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider 
        invariantName="System.Data.SqlClient" 
        type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <services>
      <service name="Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/FloggingWcf/Service/"/>
          </baseAddresses>
        </host>        
        <endpoint address="" binding="basicHttpBinding" contract="IService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>  
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  -->
</configuration>